@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 68.75rem;
  --blue: rgba(0, 118, 255, 0.9);
  --gray: #eaeaea;
  --green: #2da44e;
  --red: #f44336;
  --yellow: rgb(245, 184, 28);
}
.dark {
  --bg-primary: rgb(30, 30, 30);
  --bg-secondary: rgb(23, 23, 23);
  --clr-primary: rgb(129, 129, 129);
  --clr-secondary: #fff;
  --clr-base: #fff;
  --select: #f81ce5;
  --border: 1px solid rgb(30, 30, 30);
}
.light {
  --bg-base: #fff;
  --clr-base: #000;
  --bg-primary: #fafafa;
  --bg-secondary: var(--gray);
  --clr-primary: #666;
  --clr-secondary: #444;
  --select: #79ffe1;
  --border: 1px solid var(--gray);
}

@layer base {
  body,
  #__next {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    @apply text-primary text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h2 {
    @apply text-3xl;
  }
}

@layer components {
  .primary {
    @apply shadow-md rounded box-border font-semibold border-2 border-solid inline-flex justify-center items-center select-none appearance-none no-underline cursor-pointer;
    background-color: var(--clr-base);
    color: var(--bg-base);
    border-color: var(--clr-base);
    padding: 0.875rem 1.5rem;

    &:hover {
      background-color: var(--bg-base);
      color: var(--clr-base);
    }
  }

  /* Hover effect for ghost buttons with only a color property */
  .ghost:hover {
    filter: brightness(0.9);
  }

  /* Effects for any other contained buttons */
  .contained {
    @apply shadow-md rounded box-border font-semibold border-2 border-solid inline-flex justify-center items-center select-none appearance-none no-underline cursor-pointer;
    padding: 0.875rem 1.5rem;
    border-color: transparent;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .outlined {
    @apply shadow-md rounded box-border font-semibold border-2 border-solid inline-flex justify-center items-center select-none appearance-none no-underline cursor-pointer;
    background-color: transparent;
    color: var(--clr-base);
    border-color: currentColor;
    padding: 0.75rem 1.375rem; /* -2px each due to border */

    &:hover {
      @apply bg-transparent;
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .border {
    border: var(--border);

    &-top {
      border-top: var(--border);
    }
    &-bottom {
      border-bottom: var(--border);
    }
    &-left {
      border-left: var(--border);
    }
    &-right {
      border-right: var(--border);
    }
  }
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
